html {
    /*background-color: #e2e2e2;*/
    
    margin: 0;
    padding: 0;
}

body {
    /*background-color: #fff;*/
   
    border-top: solid 10px #000;
    color: #333;
    font-size: 1.00em;
    /*font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup,
nav, section {
    display: block;
}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
    margin-left:20px;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    /*max-width: 960px;*/
}

#body {
     /*background-image:url("../Images/texture5.png");*/
    background-color: #e2e2e2;
    clear: both;
}

    .main-content {
        /*background: url("../Images/accent.png") no-repeat;*/
        padding-left: 10px;
        padding-top: 30px;
    }

    .featured + .main-content {
        /*background: url("../Images/heroAccent.png") no-repeat;*/
    }

header .content-wrapper {
    padding-top: 20px; 
}

footer {
    clear: both;
    background-color: #e2e2e2;
    font-size: .8em;
    height: 50px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    /*color: #c8c8c8;*/
    color:#4457b9;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}
.site-title span{
    color:#b21a1a;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* login
----------------------------------------------------------*/
#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

    #login a {
        background-color: #d3dce0;
        margin-left: 10px;
        margin-right: 3px;
        padding: 2px 3px;
        text-decoration: none;
    }

    #login a.username {
        background: none;
        margin: 0;
        padding: 0;
        text-decoration: underline;
    }

    #login ul {
        margin: 0;
    }

    #login li {
        display: inline;
        list-style: none;
    }


/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
    /*background-color: #fff;*/
    background-image:url("../Images/bannerhome-1122.jpg");
    width:100%;
    background-repeat:no-repeat;
    	background-attachment: fixed;

    
}

    .featured .content-wrapper {
        width:90%;
        border:1px solid #000;
        /*background-color: #7ac0da;
        background-image: -ms-linear-gtent(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
        background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
        background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);*/
        
 background: -moz-linear-gradient(top,  rgba(126,131,140,0.9) 0%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(126,131,140,0.9)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(126,131,140,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(126,131,140,0.9) 0%,rgba(0,0,0,0.9) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(126,131,140,0.9) 0%,rgba(0,0,0,0.9) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(126,131,140,0.9) 0%,rgba(0,0,0,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e67e838c', endColorstr='#e6000000',GradientType=0 ); /* IE6-9 */

        /*background-color:rgba(0, 0, 0, 0.8);*/
        border-radius:5px;
        border:1px solid #fff;
        color: #fff;
        padding: 10px 10px 10px 10px;
    }

        .featured hgroup.title h1, .featured hgroup.title h2 {
            color: #fff;
        }

        .featured p {
            font-size: 1.1em;
        }

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* ordered list */
ol.round {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        
        margin: 25px 0;
        padding-left: 45px;
        display:inline-block;
    }
    ol.round li a{

    }
        /*ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }*/

/* content */
article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }

        aside ul li {

            background: url("../Images/bullet.png") no-repeat 0 50%;
            padding: 2px 0 2px 20px;
        }

.label {
    font-weight: 700;
}

/* login page */
#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

#logoutForm {
    display: inline;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    width:500px;
}
fieldset legend{
    
    font-size:18px;
    padding:10px 10px 10px 10px;
    text-decoration:underline;
    /*border:1px solid #e80c4d;*/
    /*border-radius:5px;*/
    color:#ecbd47;
    /*background:#49527f;*/
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
}
/*fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }*/

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

textarea {
    margin-left:40px;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    border: 1px solid #e2e2e2;
    background: #fff;
    color: #333;
    font-size: 1.0em;
   
    padding: 5px;
    width: 300px;
    resize: none;
    width: 500px;
}
input[type="text"]{
  
}
/*textarea {
    font-family: inherit;
    width: 500px;
   resize: none;
}*/

    /*input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }*/

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #d3dce0;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
/*table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}*/

/*th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}*/

    /*th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}*/

/* My Configs */
.table-title{
    
    margin-left:14px;
    font-size:18px;
    padding:10px 10px 10px 10px;
    text-decoration:underline;
    /*border:1px solid #e80c4d;*/
    /*border-radius:5px;*/
    color:#ecbd47;
    /*background:#49527f;*/
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    
/*/*background: #a90329; /* Old browsers 
background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */*/
/*background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */*/
/*background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */*/
/*background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */*/
/*background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */*/
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */*/

}
table.table-user{
    margin-left:40px;
}
table.table-user th{
    text-align:left;
    font-weight:200;
    color:#62afe4;
}
table.table-user td{
   
}
table.table-user input[type="text"]{
    margin-left:40px;
    font-size: 1.1em;
    width:300px;
    background-color:transparent;
    border:none;
    color:#fff;
}
    table.table-user input[name="Host"] {
        width:200px;
    }
    table.table-user input[name="IP"] {
        width:120px;
    }
input[type=radio] {
  width: 50px; /* resize radio */
  background-color:transparent;
  border:none;
}

button.btnsend{
    margin-left:40px;
    font-size:12px;
    border:1px solid rgb(4,216,36);
    color:#fff;
    /*background:#c30505;*/
    width:100px;
    border-radius:2px;
background: rgb(4,216,36); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(4,216,36,1) 0%, rgba(3,160,18,1) 44%, rgba(0,147,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(4,216,36,1)), color-stop(44%,rgba(3,160,18,1)), color-stop(100%,rgba(0,147,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(4,216,36,1) 0%,rgba(3,160,18,1) 44%,rgba(0,147,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(4,216,36,1) 0%,rgba(3,160,18,1) 44%,rgba(0,147,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(4,216,36,1) 0%,rgba(3,160,18,1) 44%,rgba(0,147,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(4,216,36,1) 0%,rgba(3,160,18,1) 44%,rgba(0,147,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04d824', endColorstr='#00930e',GradientType=0 ); /* IE6-9 */

}
.ui-icon {
        zoom: 1.2;
     
}
span#sendmsg{
    margin: 0px; 
    background-color:#6bf263;
    cursor:pointer;
    display: inline-block;
}
span#changestatus{
    margin: 0px; 
    display: inline-block;
    background-color:#f96a6a;
    cursor:pointer;
 
}

ul#menutop{
 margin-right:20px;
 }
ul#menutop li{
    display:inline-block;
 
   
}
ul#menutop li a{
    font-size:14px;
   
}  

.result_success{
    padding:5px;
    text-align:center;
    margin:auto;
    width:300px;
    color:#1ffa1f;
    background-color:rgba(3,160,18,1);
    border-radius:5px;
    border:1px solid rgb(4,216,36);
}
.result_error {
    padding:5px;
    text-align:center;
    margin:auto;
    width:300px;
    color:#fb2525;
    background-color:#711b1b;
    border-radius:5px;
    border:1px solid #f53333;
}
.result_table{
    width:1050px;    
    padding:5px;
    border:1px solid #fff;
    margin:auto;
}
.result_table table tr th{
    /*color:#b21a1a;*/
     color:#fe7f7f;
     margin-left:50px;
}
    

.result_table table tr td{
    border:1px solid #62afe4;
}
.result_table table tr td{

    }
.result_table table tr th:nth-child(3){
        width:500px;
    }
.result_table table.admintable tr th:nth-child(1){
        width:40px;
    }
.result_table table.admintable tr th:nth-child(2){
        width:60px;
    }
.result_table table.admintable tr th:nth-child(3){
        width:120px;
    }
    .result_table table.admintable tr th:nth-child(4){
        width:120px;
    }
       .result_table table.admintable tr th:nth-child(5){
        width:120px;
    }
    .result_table table.admintable tr th:nth-child(6){
        width:300px;
    }
    .result_table table.admintable tr th:nth-child(7){
        width:80px;
    }
    .result_table table.admintable tr th:nth-child(8){
        width:100px;
    }
    .result_table table tr:hover > td{
        background:#739ce2;
    }
.result_table table tr{
       

}
.result_table table{
    table-layout: fixed;
    word-wrap: break-word;
    width:1050px;
}
.statusaberto{
    color:rgb(4,216,36);
}
.statusfechado{
    color:#fb2525;
}
.status{

    color:#ecbd47;
}
div#rightcolumn{
    width:400px;
    float:left;
}
div#rightcolumn{
    width:400px;
    float:right;
    margin-top:-500px;
}
div#rightcolumn p.table-title{
    font-size:14px;
    color:#f48787;
    text-decoration:none;
}
.clear { clear: both;}


.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../Images/loadingimage.gif') 50% 50% no-repeat;
}

/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
       
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
            
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
        background:#000;
        
    }

 

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    /*input {
        width: 90%;
    }*/

    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        /*height: auto;*/
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
